/* =============================================================================
 *
 * Waybar configuration
 *
 * Configuration reference: https://github.com/Alexays/Waybar/wiki/Configuration
 *
 * =========================================================================== */

/* -----------------------------------------------------------------------------
 * Keyframes
 * -------------------------------------------------------------------------- */

 @keyframes blink-warning {
	70% {
		color: @light;
	}

	to {
		color: @light;
		background-color: @warning;
	}
}

@keyframes blink-critical {
	70% {
		color: @light;
	}

	to {
		color: @light;
		background-color: @critical;
	}
}


/* -----------------------------------------------------------------------------
 * Styles
 * -------------------------------------------------------------------------- */

/* COLORS */

/* @define-color barbgcolor #111111; */

/* Nord */
/*
@define-color light #eceff4;
@define-color dark #2e3440;
@define-color warning #ebcb8b;
@define-color critical #d08770;
@define-color mode #4c566a;
@define-color workspaces #5e81ac;
@define-color workspacesfocused #81a1c1;
@define-color sound #d8dee9;
@define-color network #8FBCBB;
@define-color memory #88c0d0;
@define-color cpu #434c5e;
@define-color temp #4c566a;
@define-color layout #5e81ac;
@define-color battery #88c0d0;
@define-color date #2e3440;
@define-color time #eceff4;
@define-color tray #eceff4;
*/



/* Gruvbox */
/*
@define-color light #ebdbb2;
@define-color dark #282828;
@define-color warning #fabd2f;
@define-color critical #cc241d;
@define-color mode #a89984;
@define-color workspaces #458588;
@define-color workspacesfocused #83a598;
@define-color sound #d3869b;
@define-color network #b16286;
@define-color memory #8ec07c;
@define-color cpu #98971a;
@define-color temp #b8bb26;
@define-color layout #689d6a;
@define-color battery #fabd2f;
@define-color date #282828;
@define-color time #ebdbb2;
*/


/* global */
@define-color barbgcolor #E0E0D4;
@define-color light #ffffff;
@define-color dark #000000;


@define-color mode #a89984;
@define-color layout #689d6a;

/* left */
@define-color lcolor1 #AAABBF;
@define-color lcolor2 #F2F2F2;
@define-color lcolor3 #020F59;
@define-color lcolor4 #03258C;
@define-color lcolor5 #044BD9;

@define-color power @barbgcolor;
@define-color powertext @dark;
@define-color idle @lcolor3;
@define-color idletext @light;
@define-color workspaces @lcolor2;
@define-color workspacesfocused #50ABBF;
@define-color workspacesfocusedtext @dark;
@define-color workspacesurgent @lcolor5;


/* right */
@define-color rcolor1 #aaadad;
@define-color rcolor2 #909A9C;
@define-color rcolor3 #486177;
@define-color rcolor4 #243C58;
@define-color rcolor5 #1E2535;

@define-color warning #fabd2f;
/* @define-color critical #cc241d; red */
@define-color critical #ff7f50;

@define-color cpu @rcolor1;
@define-color cputext @dark;
@define-color memory @rcolor3;
@define-color memorytext @light;
@define-color sound @rcolor4;
@define-color soundtext @light;
@define-color temp @rcolor5;
@define-color temptext @light;
@define-color tray @barbgcolor;
@define-color date @rcolor4;
@define-color datetext @light;
@define-color time @barbgcolor;
@define-color timetext @dark;

@define-color battery #fabd2f;
@define-color network @rcolor2;
@define-color networktext @dark;


/* Reset all styles */
* {
	border: none;
	border-radius: 0;
	min-height: 0;
	margin: 0;
	padding: 0;
}

/* The whole bar */
#waybar {
	background: @barbgcolor;
	color: @light;
	font-family: Terminus, Siji;
	font-size: 14pt;
	/*font-weight: bold;*/
}

/* Each module */
#battery,
#clock,
#cpu,
#language,
#memory,
#mode,
#network,
#pulseaudio,
#temperature,
#custom-alsa,
#custom-notification,
#sndio,
#tray {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 0;
	padding-bottom: 0;
}

/* Each module that should blink */
#mode,
#memory-noblink,
#temperature,
#battery {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
	color: @critical;
}

/* Each critical that should blink */
#mode,
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
	animation-name: blink-critical;
	animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
	color: @warning;
}

/* Each warning that should blink */
#battery.warning.discharging {
	animation-name: blink-warning;
	animation-duration: 3s;
}

/*
    POWER LINE Arrows  
*/
#custom-arrow-right,
#custom-arrow-cpu,#custom-arrow-mem,
#custom-arrow-audio,#custom-arrow-network,
#custom-arrow-temp,#custom-arrow-tray,
#custom-arrow-date,#custom-arrow-time,
#custom-arrow-left,
#custom-arrow-poweroff, #custom-arrow-idle,
#custom-arrow-notification,
#custom-arrow-workspace
{
	font-size: 28px;
	margin: 0;
	padding: 0;
}

/* And now modules themselves in their respective order */


/* ============================================
     LEFT
============================================ */
#custom-poweroff {
	color: @powertext;
	background: @power;
}

#custom-arrow-poweroff {
	color: @power;
	background: @idle;
}

#idle_inhibitor {
	color: @idletext;
}

#idle_inhibitor.activated {
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-warning;
	animation-duration: 3s;
}

#idle_inhibitor.deactivated {
	background: @idle;
}

#custom-arrow-idle {
	color: @idle;
	background: @memory;
}

#custom-idle-spacer {
	background: @workspaces;
}

/** swaynotificationcenter (swaync) */
#custom-notification {
	font-family: "NotoSansMono Nerd Font";
	color: @memorytext;
	background: @memory;
}

#custom-arrow-notification {
	color: @memory;
	background: @workspaces;
}

#custom-workspace-spacer {
	background: @workspaces;
}

/* Workspaces stuff */
#workspaces button {
	/*font-weight: bold;*/
	padding-left: 4px;
	padding-right: 4px;
	color: @dark;
	background: @workspaces;
}

#custom-arrow-workspace {
	color: @workspaces;
	background: @barbgcolor;
}

#workspaces button { 
	padding-right: 15px;
	padding-top: 5px;
	border-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: transparent;
}

#workspaces button.focused {
	padding-left: 15px;
	padding-right: 15px;
	color: @workspacesfocusedtext;
	border-width: 5px;
	border-bottom-style: solid;
	border-bottom-color: @workspacesfocused;
}

#workspaces button.urgent {
	color: @workspacesurgent;
}

#mode { /* Shown current Sway mode (resize etc.) */
	color: @light;
	background: @mode;
	padding-left: 20px;
	padding-right: 20px;
}

#window {
	margin-right: 40px;
	margin-left: 40px;
}


/* ============================================
    RIGHT
============================================ */

#custom-arrow-cpu {
	color: @cpu;
	background: @barbgcolor;
}

#cpu {
	background: @cpu;
	color: @cputext;
	min-width: 70px;
}

#custom-arrow-mem {
	color: @memory;
	background: @cpu;
}
#memory {
	background: @memory;
	color: @memorytext;
}

#custom-arrow-audio {
	color: @sound;
	background: @memory;
}
#custom-alsa,
#pulseaudio,
#sndio {
	background: @sound;
	color: @soundtext;
}
#pulseaudio.muted {
	background: @workspacesurgent;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
	animation-direction: alternate;
	animation-name: blink-warning;
	animation-duration: 3s;
}

#custom-arrow-temp {
	color: @temp;
	background: @sound;
}
#temperature {
	background: @temp;
	color: @temptext;
}

#custom-arrow-network {
	color: @network;
	background: @temp;
}
#network {
	background: @network;
	color: @networktext;
}

#custom-arrow-tray {
	color: @tray;
	background: @sound;
}
#tray {
	background: @barbgcolor;
	min-width: 100px;
}

#custom-arrow-date {
	color: @date;
	background: @tray;
}

#clock.date {
	background: @date;
	color: @datetext;
	font-size: 14pt;
}

#custom-arrow-time {
	color: @time;
	background: @date;
}
#clock.time {
	background: @time;
	color: @timetext;
	font-size: 14pt;
}

#language {
	background: @layout;
	color: @light;
}

#battery {
	background: @battery;
	color: @dark;
}


